nav {
    background-color: #010101; 
}

main {
    margin-top: 5.7vh;
}

section {
    margin-left: 40px;
    margin-right: 40px;
}

.navbar-brand {
    color: red;
    padding-left: 25px;
}

.nav-link:hover {
    color: red !important;
    text-decoration: underline red !important;
}

#logo-muse {
    width: 100%;
}



.carousel {
    margin-bottom: 4rem;
  }
  .content-carousel {
    font-weight: bold;
    width: 100%;
    height: 28rem;
}
  .carousel-item {
    height: 28rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 28rem;
  }
  .text-carousel {
    font-size: 25px !important;
  }


.overlay-image {
    background-image: url('../img/muse-overlay.webp');
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

/* .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..") !important;
  } */

.image-albums {
    width: 100%;
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
  }
      .nav-item {
          margin-right: 15px;
      }
  }
@media (max-width: 992px) {
    .navbar-nav {
      justify-content: center !important;
      text-align: center !important;
    }
    .nav-item {
      margin-left: 0;
    }
}

/**** BIOGRAPHIE *****/

.table-bio {
  flex-wrap: wrap;
  width: 100%;
}
  .content-biographie {
    width: 60%;
    padding-right: 40px;
  }
  .tableau-biographie {
    width: 40%;
    background-color: #f8f9fa;
    box-shadow: black;
    padding-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .img-table {
    max-width: 60%;
    height: auto;
  }

.content-table-biographie {
    padding-top: 40px;
}
  .content-biographie p {
    margin-bottom: 20px;
  }
  .info-gen {
    text-align: center;
    font-weight: bold;
  }
  .request {
    font-weight: bold;
  }
  
.image-icon {
  width: 60%;
}

@media (max-width: 900px) {
  .tableau-biographie {
    width: 100%;
    order: -1;
  }
  .content-biographie {
    margin-top: 40px;
    width: 100%;
    padding-right: 0px;
  }
}


/**** DISCOGRAPHIE *****/

.title-discographie {
  margin-top: 80px;
  margin-bottom: 25px;
}

.title_albums {
  margin-bottom: 25px;
}

.live-img {
  width: 100%;
}

.carousel-inner {
  margin-bottom: 25px;
}

/****  VIDEO *****/
.title-video {
  margin-top: 80px;
}

video {
  width: 100%;
  margin: 0 auto;
  display: block;
}

@media (min-width: 992px) {
  video {
    width: 60%;
  }
  .carousel-control-prev, .carousel-control-next {
    width: 5%;
    background: black;
    color: black;
    text-align: center;
  }
}

.carousel-inner {
  width: 100%;
  overflow: hidden;
}

.title-music {
  color: red !important;
  font-weight: bold;
}

.carousel-control-prev,
.carousel-control-next {
  bottom: 0 !important;
  position: absolute !important;
}

#video {
  padding-top: 40px;
}

@media (max-width: 550px) {
  .carousel-item {
    height: 180px !important;
  }
}
@media (max-width: 992px) {
  .carousel-item {
    height: 250px !important;
  }
}

@media (max-width: 1500px) {
  .carousel-item {
    height: 330px !important;
  }
}

@media (max-width: 1670px) {
  .carousel-item {
    height: 400px !important;
  }
}
